html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: visible; /* Impide que los elementos sobrepasen el contenedor */
}

.arriba {
    background-color: #AE3E3E;
    width: 100%;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box; /* Asegura que el padding no cause desbordamiento */
    overflow: visible; /* Impide que los elementos sobrepasen el contenedor */
}

#logo {
    height: 120px;
    width: auto;

}

#txt {
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin-right: 20px;
}

#buscador {
    height: 35px;
    border-radius: 20px;
    border: 0;
    padding-left: 20px;
    font-size: 16px;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.3);
    flex-grow: 1; /* Hace que el buscador ocupe el espacio restante */
    max-width: 400px; /* Establece un tamaño máximo para el campo de búsqueda */
}

#foto-perfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
}

.botones{
    background-color: #FD5C5C;
    text-align: center;
    padding: 0px 0px;
    font-size: 14px;
    width: 100%;
    height: 25px;
    display: flex; /* <-- Esto es lo que hace que funcione el gap */
    justify-content: center; /* Para centrar los botones */
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.3);

}
.botones-arriba{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 35px;
    width: 230px;
    color: white;
    background-color: #00000000;
    border: 0px;
    cursor: pointer;
    transition: 0.3s ease;
}

.botones-arriba:hover{
    background-color: #AE3E3E;
    color: white;
}
.container {
    
    top: 160px;
    position: absolute;
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resultados h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
    font-size: 30px;
}

.resultados {
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.3);
    width: 70%;
    padding: 10px;
    background-color: #F3F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.foto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.foto h2 {
    margin: 0;
    font-size: 24px;
}

.datos-perfil {
    display: flex;
    justify-content: center;
    gap: 40px; /* espacio entre número y correo */
    margin-top: 20px;
    flex-wrap: wrap;
}

.datos-perfil .number,
.datos-perfil .mail {
    display: flex;
    align-items: center;
    gap: 10px;
}

.datos-perfil img {
    width: 50px;
    height: 50px;
}

.boton-inicio {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: rgba(194, 96, 96, 0.699);

    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.boton-inicio a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.boton-inicio:hover {
    transform: scale(1.1);
    background: rgba(218, 24, 24, 0.89);

}

.boton-inicio a:hover {
    color: #ffcc00;
}
.resultados2{
    padding-top: 40px;
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 4%;
    flex-wrap: wrap;
    row-gap: 10px; 

}
.resultado{
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 400px;
    border-radius: 20px;
    padding: 3px;
}

.imagen {
    flex: 0 0 180px; /* tamaño fijo en píxeles (igual que el alto del .resultado) */
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #8b8787;
}

.imagen-producto {
    width: 100%;
    height: 100%;
    object-fit: cover; /* recorta y ajusta bien */
    display: block;
}


.info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

}
.desc{
    padding-left: 20px;

}


.boton-ver-mas {
    width: 100px;
    border-radius: 15px;
    background-color: #AE3E3E;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.boton-ver-mas:hover {
    background-color: #db6666;
}

.perfil-container {
    position: relative;
    display: inline-block;
}

#foto-perfil {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    cursor: pointer;
}

.menu-desplegable {
    display: none;
    position: absolute;
    top: 100px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 10;
    min-width: 160px;
    text-align: left;
}

.menu-desplegable a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.menu-desplegable a:hover {
    background-color: #f1f1f1;
}



/*--*/


*{
    font-family: 'Outfit';
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */

}

body{
    overflow-y: hidden;
    height: 1700px;
    
    background-image:linear-gradient(to bottom, #ffffff, #adadad);
}


.arriba {
    background-image:linear-gradient(to bottom,#d24b4b, #a13a3a, #632424);
    width: 100%;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box; /* Asegura que el padding no cause desbordamiento */
    position: fixed;
    z-index: 99;
    height: 100px;
     /* Impide que los elementos sobrepasen el contenedor */
}

#logo {
    width: 200px;
}

#txt {
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin-right: 20px;
}

#buscador {
    height: 35px;
    border-radius: 20px;
    border: 0;
    padding-left: 20px;
    font-size: 16px;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.3);
    flex-grow: 1; /* Hace que el buscador ocupe el espacio restante */
    max-width: 400px; /* Establece un tamaño máximo para el campo de búsqueda */
}

#foto-perfil {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-left: 20px;
}

.botones{
    top: 100px;
    position: fixed;
    background-image:linear-gradient(to bottom,#7f4141, #d75353, #c74d4d);
    
    z-index: 99;
    text-align: center;
    font-size: 16px;
    width: 100%;
    display: flex; /* <-- Esto es lo que hace que funcione el gap */
    justify-content: center; /* Para centrar los botones */
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);


}
.botones-arriba{
    height: 25px;
    margin-top: 5px;
    width: 230px;
    box-sizing: border-box;
    color: white;
    background-color: #d5040400;
    border: 0px;
    cursor: pointer;
    transition: 0.3s ease;
}

.botones-arriba:hover{
    background-color: #686868;
    color: white;
    border-radius: 15px;
}


.envoltorio-resultados {
    width: 80%;
    background-image:linear-gradient(to bottom,  #811c1cbd,#ebebeb00);
    padding: 70px 0px; /* margen interno */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    box-sizing: border-box;
}



.arriba{
    z-index: 9999;
}
.menu-desplegable {
    
    position: absolute;
    top: 70px;
}