html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

.arriba {
    background-color: #AE3E3E;
    width: 100%;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box; /* Asegura que el padding no cause desbordamiento */
    overflow: visible; /* Impide que los elementos sobrepasen el contenedor */
}

#logo {
    width: 200px;
}

#txt {
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin-right: 20px;
}

#buscador {
    height: 35px;
    border-radius: 20px;
    border: 0;
    padding-left: 20px;
    font-size: 16px;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.3);
    flex-grow: 1; /* Hace que el buscador ocupe el espacio restante */
    max-width: 400px; /* Establece un tamaño máximo para el campo de búsqueda */
}

#foto-perfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
}

.botones{
    background-color: #FD5C5C;
    text-align: center;
    padding: 0px 0px;
    font-size: 14px;
    width: 100%;
    height: 25px;
    display: flex; /* <-- Esto es lo que hace que funcione el gap */
    justify-content: center; /* Para centrar los botones */
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.3);

}
.botones-arriba{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 35px;
    width: 230px;
    color: white;
    background-color: #00000000;
    border: 0px;
    cursor: pointer;
    transition: 0.3s ease;
}

.botones-arriba:hover{
    background-color: #AE3E3E;
    color: white;
}
.container {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resultados h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
    font-size: 30px;
}
.envoltorio-resultados {
    width: 90%;
    padding: 30px; /* margen interno */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.resultados{
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.3);
    width: 90%;
    padding: 10px;
    background-color: #F3F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.boton-inicio {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: rgba(194, 96, 96, 0.699);

    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.boton-inicio a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.boton-inicio:hover {
    transform: scale(1.1);
    background: rgba(218, 24, 24, 0.89);

}

.boton-inicio a:hover {
    color: #ffcc00;
}

.perfil-container {
    position: relative;
    display: inline-block;
}

#foto-perfil {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    cursor: pointer;
}

.menu-desplegable {
    display: none;
    position: absolute;
    top: 100px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 10;
    min-width: 160px;
    text-align: left;
}

.menu-desplegable a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.menu-desplegable a:hover {
    background-color: #f1f1f1;
}

select option[disabled] {
    color: #888;
}


/* Estilos para checkboxes*/
.checkbox-container {
    margin: 20px;
}

.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
    gap: 15px; /* Espacio entre columnas y filas */
    margin-top: 20px;
}

.checkbox-item {
    display: flex;
    align-items: center;
    gap: 8px; /* Espacio entre checkbox y label */
}

.checkbox-item input[type="checkbox"] {
    transform: scale(1.5); /* Opcional: agrandar un poco los checkboxes */
    cursor: pointer;
}

.checkbox-item label {
    cursor: pointer;
}

#verificacion-form {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.formulario-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

/* Columna izquierda con diseño */
.izquierda {
    flex: 1;
    min-width: 300px;
    background-color: #fdfdfd;
    padding: 20px;
    border-radius: 15px;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.izquierda label {
    font-weight: bold;
    margin-top: 15px;
}

.izquierda input {
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra interna */
    border-radius: 8px;
    margin-top: 5px;
    font-size: 16px;
}

/* Columna derecha para imágenes */
.derecha {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.derecha span{
    text-align: center;
    color: #636060e3;
}
.derecha label {
    text-align: center;
}
#descripcion {
    border: 2px dashed #000000;
    padding: 20px;
    height: 250px;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.upload-area {
    border: 2px dashed #d67070;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
    height: 250px;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    transition: ease 0.4s;
    transition: background 0.4s ease, transform 0.4s ease;
    overflow: hidden;
}
#btn{
    background-color: #AE3E3E;
    color: white;
    width: 150px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}
#btn:hover{
    background-color: #7e3030;
    color: white;
    transform: scale(1.05);
}
.upload-area:hover{
    background-color: #AE3E3E;
    transform: scale(1.07);
}
.upload-area:hover span,
.upload-area:hover label {
    color: white;
}
.upload-area img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.15;
    width: 100px;
    pointer-events: none;
}

.upload-area input[type="file"] {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
    z-index: 3;
}

select {
    width: 100%; 
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    border-radius: 10px; 
    border: 1px solid #ccc;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra interna */
    background-color: #fff; 
    color: #000000; 
    cursor: pointer; 
    transition: all 0.3s ease; 
}

select:focus {
    border-color: #000000; /* Cambia el borde al enfoque */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Resalta el borde con sombra */
}






*{
    font-family: 'Outfit';
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */

}

body{
    overflow-y: hidden;
    height: 1700px;
    
    background-image:linear-gradient(to bottom, #ffffff, #adadad);
}


.arriba {
    background-image:linear-gradient(to bottom,#d24b4b, #a13a3a, #632424);
    width: 100%;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box; /* Asegura que el padding no cause desbordamiento */
    position: fixed;
    z-index: 99;
    height: 100px;
     /* Impide que los elementos sobrepasen el contenedor */
}

#logo {
    width: 200px;
}

#txt {
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin-right: 20px;
}

#buscador {
    height: 35px;
    border-radius: 20px;
    border: 0;
    padding-left: 20px;
    font-size: 16px;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.3);
    flex-grow: 1; /* Hace que el buscador ocupe el espacio restante */
    max-width: 400px; /* Establece un tamaño máximo para el campo de búsqueda */
}

#foto-perfil {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-left: 20px;
}

.botones{
    top: 100px;
    position: fixed;
    background-image:linear-gradient(to bottom,#7f4141, #d75353, #c74d4d);
    
    z-index: 99;
    text-align: center;
    font-size: 16px;
    width: 100%;
    display: flex; /* <-- Esto es lo que hace que funcione el gap */
    justify-content: center; /* Para centrar los botones */
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);


}
.botones-arriba{
    height: 25px;
    margin-top: 5px;
    width: 230px;
    box-sizing: border-box;
    color: white;
    background-color: #d5040400;
    border: 0px;
    cursor: pointer;
    transition: 0.3s ease;
}

.botones-arriba:hover{
    background-color: #686868;
    color: white;
    border-radius: 15px;
}


.envoltorio-resultados {
    top: 160px;
    position: relative;
    width: 80%;
    background-image:linear-gradient(to bottom,  #811c1cbd,#ebebeb00);
    padding: 70px 0px; /* margen interno */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    box-sizing: border-box;
}



.arriba{
    z-index: 9999;
}
.menu-desplegable {
    
    position: absolute;
    top: 70px;
}